.ant-card .ant-card-body{
    padding: 5px;
    .ant-card-meta-title{
        text-align: center;
    }
    .ant-card-meta-description{
        text-align: center;
    }
}
// .ant-card .ant-card-actions{
//     padding-top: 0px;
//     padding-bottom: 0;
// }
.ant-pagination{
    padding-left: 66%;
}

.roomListContainer{
    width: 70%;
}