.topbarContainer {
  display: flex;
  justify-content: flex-end;
  background-color: #dafffb;
  position: sticky;
  top: 0;
  z-index: 1;
  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 20px;
    font-size: 20px;
  }
}
