.sidebarContainer{
    flex: 1;
    background-color: #04364A;
    color: white;
    min-height: 100vh;
    padding: 10px 10px;
    .soictLogoWrapper{
        width: 60%;
        padding: 5px;
        img {
            max-width: 100%;
        }
    }
    hr {
        border: 0;
        margin: 0;
        border-top: 1px solid #04364A;
        border-bottom: 1px solid #176B87;
    }
    .sidebarItemsWrapper {
        padding-top: 5px;
        .sidebarItem {
            margin-top: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding: 15px 10px;
            font-size: 15px;
            cursor: pointer;
            svg {
                margin-right: 5px;
            }
        }
        .sidebarItem.selected {
            background-color: #64CCC5;
        }
    }
}