.ant-menu-inline .ant-menu-item {
    font-size: 20px; /* Đặt font chữ to hơn cho mục trong menu */
    height: 60px;
}

.ant-menu-dark>.ant-menu-item-selected {
    background-color: #64CCC5; /* Đặt màu nền khi mục được chọn */
    color: white; /* Đặt màu chữ khi mục được chọn */
}

.ant-menu-vertical >.ant-menu-item{
    height: 60px;
}